/* ================================[Corparation style]======================================================== */

.Corparation-Container h1 {
  font-size: 29px;
  font-family: "Russo One", sans-serif;
  text-align: center;
  margin-top: 10px;
  font-weight: 800;
  font-weight: bolder;
}
.Corparation-Container .card:hover {
  box-shadow: 0px 0px 10px black;
  transform: all ease-in-out;
  transition-delay: 0.1s;
}
.Corparation-Container .card-body {
  font-size: 10px;
  font-family: "Russo One", sans-serif;
}
.Corparation-container .card-title {
  font-size: 20px;
  font-weight: bolder;
}

/* ================================[Platforms style]======================================================== */

.Platforms-container h1 {
  font-size: 29px;
  font-family: "Russo One", sans-serif;
  text-align: center;
  margin-top: 10px;
  font-weight: 800;
  font-weight: bolder;
}

.Platforms-container .card:hover {
  box-shadow: 0px 0px 10px black;
  transform: all ease-in-out;
  transition-delay: 0.1s;
}
.Platforms-container .card-body {
  font-size: 10px;
  font-family: "Russo One", sans-serif;
}

/* ================================[Brands style]======================================================== */

.Brands-container h1 {
  font-size: 29px;
  font-family: "Russo One", sans-serif;
  text-align: center;
  margin-top: 10px;
  font-weight: 800;
  font-weight: bolder;
}
.Brands-container .card:hover {
  box-shadow: 0px 0px 10px black;
  transform: all ease-in-out;
  transition-delay: 0.1s;
  border: none;
}
.Brands-container .card-body {
  font-size: 10px;
  font-family: "Russo One", sans-serif;
}
.Brands-container {
  text-decoration: none;
}
/* ================================[Content style]======================================================== */

.Content-Container {
  border: 1px solid black;
  margin-top: 20px;
}

/* ================================[Investor style]======================================================== */

.Investor-Container {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Investor-Container p {
  text-align: center;
  font-size: 19px;
  font-family: "Russo One", sans-serif;
}
/* ================================[Footer style]======================================================== */

.Footer-Container {
  height: auto;
  /* background-image: url("../assets//Footer.jpg"); */
  background-color: gray;
}

.Footer-Container img {
  margin: 50px;
}
.Footer-Container {
  color: white;
  font-size: 10px;
  font-family: "Russo One", sans-serif;
  text-align: center;
}

.Footer-Container h5 {
  margin-top: 2em;
}
.Footer-Container input {
  padding-left: 100px;
  padding-right: 150px;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
  margin-bottom: 20px;
}


@media screen and (max-width: 320px) {
  .Footer-Container input {
  
    padding-right: 80px;
   
  }
  
}
/* ================================[Navbar style]======================================================== */

.navbar-light .navbar-nav .nav-link {
  margin-left: 44px;
  color: #06559d !important;
  font-weight: 500;
}

.NavbarLogo {
  width: 100%;
  height: 150px;
}

